!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? "#{yield(:title)}: Garage" : "Garage"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = stylesheet_link_tag "garage/application", :media => "all"
    / Le fav and touch icons
    %link{:href => image_path('favicon.ico'), :rel => "shortcut icon"}/
    %link{:href => image_path('apple-touch-icon.png'), :rel => "apple-touch-icon"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Garage
          - if _current_user
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => '#'}
                  %span.welcome= _current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to t('application.signout'), '/signout', :method => :post
          .container.nav-collapse
            %ul.nav
              / %li= link_to "Link 1", "/path1"

    .container

      .content
        - if content_for?(:page_header)
          .page-header
            %h1= yield(:page_header)
        .row
          = yield

      %footer
        %p &copy; Garage 2013
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "garage/application"
