!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %title Garage
    = csrf_meta_tags
    = stylesheet_link_tag "garage/application", :media => "all"
    = javascript_include_tag "garage/application"
    = favicon_link_tag "favicon.ico"

  %body{ class: action_classes }
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          .navbar-brand
            = link_to "Garage", garage_docs.resources_path
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to "Console", garage_docs.console_resources_path
          %ul.nav.navbar-nav.navbar-right
            - if _current_user
              %li= link_to "Signout", "/signout", method: :post

    .main
      .container
        = yield
