!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %title Garage
    = csrf_meta_tags
    = stylesheet_link_tag "garage/application", :media => "all"
    = javascript_include_tag "garage/application"
    = favicon_link_tag "favicon.ico"

  %body
    %header
      .section
        %h1
          = link_to "Garage", garage_docs.resources_path
        %ul.right
          %li= link_to "Docs", garage_docs.resources_path
          %li= link_to "Console", garage_docs.console_resources_path
          - if _current_user
            %li= link_to "signout(#{_current_user.name})", "/signout", method: :post

    .main
      = yield
