!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %title Garage
    = csrf_meta_tags
    = stylesheet_link_tag "garage/application", :media => "all"
    = javascript_include_tag "garage/application"
    = favicon_link_tag "favicon.ico"

  %body
    %header
      .section
        %h1
          = link_to "Garage", garage_docs.resources_path
        .right
          - if _current_user
            = _current_user.name
            = link_to "signout", "/signout", method: :post

    .main
      = yield
