.section.console
  %h1 Console
  = form_tag nil, :class => "console form-inline" do
    = hidden_field_tag :base, @base_url
    .field.token
      %p
        = label_tag :access_token, "Access Token"
      %p
        = text_field_tag :access_token, session[:access_token], :class => "input-xxlarge"
      = button_tag "Info", :class => "button validate-token", :type => "button"
      = button_tag "GetToken", :class => "button get-oauth-token", :type => "button"

    .field.location
      %p
        = label_tag :url, "URL"
      %p
        - params[:location] += "?fields=*" if params[:location]
        = text_field_tag :location, params[:location], :class => "input-xxlarge"
      = select_tag :method, options_from_collection_for_select(["GET", "POST", "PUT", "DELETE"], :to_s, :to_s, params[:method]), :class => "span1"
      = submit_tag "Send", :class => "send-request"

    .field
      .parameters

    .field
      %h2 Headers
      %pre#api-headers

    .field
      %h2 Response
      %pre#api-response

#oauth-dialog
  .modal-header
    %h3 Permissions
  = form_tag authenticate_resources_path, :method => :post, :id => "oauth-authenticate" do
    = hidden_field_tag :authenticity_token, form_authenticity_token
    = hidden_field_tag :return_to, request.fullpath
    .modal-body
      - Doorkeeper.configuration.scopes.all.each do |scope|
        = check_box_tag "scopes[]", scope, :selected => true
        = scope
        %br
    .modal-footer
      = button_tag "Close", :class => "modal-close"
      = submit_tag "Authenticate"
