= render layout: "layout_navigation" do
  %h1= @title

  - if @examples.any?
    .section.examples
      %h2 Examples
      %ul
        - @examples.each do |example|
          %li= link_to example.url, console_resources_path(:location => example.url, :method => "GET")

  .section.toc
    %h2 Contents
    = @document.toc

  .section.document
    = preserve @document.render
